* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background: #fff7ed;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: currentColor;
  &.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

nav {
  width: 100%;
  height: 116px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px;
  gap: 25px;

  & .nav-logo img {
    width: 145px;
    margin-right: auto;
  }

  & div {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
    font-size: 1.25rem;
    & a {
      text-decoration: none;
      color: grey;
      cursor: pointer;
    }
  }
}

.home {
  max-width: 800px;
  height: calc(100vh - 75px - 116px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-image: url("../public/image 54.png");

  & h1 {
    font-size: 3rem;
    color: white;
  }
  & p {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }
  & a {
    text-decoration: none;
    text-align: center;
    & button {
      background: #ff8c38;
      width: 500px;
      height: 50px;
      border-radius: 10px;
      border: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
      align-self: center;
      transition: all 0.3s ease;

      &:active {
        scale: 0.99;
      }
    }
  }
}

.about {
  display: flex;
  max-width: 800px;
  height: auto;
  flex-direction: column;

  & img {
    width: 100%;
  }
  & .par-wrapper {
    padding: 60px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;

    & .exploring-vans {
      background: #ffcc8d;
      padding: 30px;
      & h2 {
        font-size: 2rem;
      }
      & .explore-van-btn {
        padding: 10px;
        margin-top: 30px;
        background: #161616;
        border-radius: 10px;
        border: 1px;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.van-page {
  max-width: 800px;
  display: block;
  margin: 1rem;

  & .van-options {
    margin-bottom: 2rem;
    & h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    & div {
      max-width: 550px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      & .van-options-button {
        background: #ffead0;
        border: 1px solid white;
        padding: 10px 15px;
        font-size: 20px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: all .2s ease;
        &.active {
          background: #ffc884;
        }
        &.simple{
          
          &:hover, &.selected{
            background: #ff8c38;
            color: white;
          }
        }
        &.rugged{
          &:hover, &.selected{
            background: #115e59;
            color: white;
          }
        }
        &.luxury{
          &:hover, &.selected{
            background: #161616;
            color: white;
          }
        }
      }
      & button{
        outline: none;
        background: white;
        border: none;
      }
      & p {
        text-decoration: underline;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
      }
    }
  }

  & .display-vans-offers {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    & .van {
      width: 230px;
      height: 350px;
      overflow: hidden;

      & img {
        border-radius: 10px;
        width: 230px;
        margin-bottom: 10px;
      }

      & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        & h2 {
          font-size: 18px;
        }
        & h3 {
          font-size: 15px;
        }
      }

      & .van-type {
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        &.simple {
          background: #fbd2a0;
        }
        &.rugged {
          background: #115e59;
        }
        &.luxury {
          background: #161616;
        }
      }
    }
  }
}

.van-details {
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  & .go-back-to-vans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
  }
  & img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3rem;
  }
  & .van-type {
    width: fit-content;
    margin-bottom: 2rem;
  }
  & h1 {
    margin-bottom: 2rem;
  }
  & .van-pricing {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  & .van-description {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2rem;
  }
  & .van-rent {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    background: #ff8c38;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}

& .van-type {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  &.simple {
    background: #fbd2a0;
  }
  &.rugged {
    background: #115e59;
  }
  &.luxury {
    background: #161616;
  }
}

.host-nav, .host-van-detail-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  max-width: 800px;
  color: rgb(138, 138, 138);
  margin-bottom: 2rem;
  &.host-van-detail-nav{
    margin-bottom: 0;
  }

  & a {
    transition: all 0.2s ease;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.host-vans {
  background: #fbd2a04d;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;

  & h1 {
    align-self: center;
  }

  & .host-vans-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .van-card-host {
      background: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1.5rem;
      gap: 10px;
      width: 100%;
      border-radius: 20px;
      height: 150px;
      cursor: pointer;
      & img {
        width: 125px;
        border-radius: 10px;
      }
      & span {
        display: block;

        & .van-card-host-name {
          font-size: 1.75rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
        & .van-card-host-price {
          font-size: 1.25rem;
          color: grey;
          font-weight: 500;
        }
      }
    }
  }
}
& .go-back-to-vans {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
  gap: 10px;
  text-decoration: underline;
  font-weight: bold;
}
.van-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  & .go-back-to-vans{
    margin-bottom: 1rem;
  }

  & .van-details-wrapper {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding-bottom: 2rem;

    & h2{
      font-size: 1.5rem;
      margin-top: 3rem;
      text-align: center;
      
    }
    & .host-van-detail-wrapper {
      width: 100%;
      & .host-van-info {
        padding: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;

        & img {
          border-radius: 10px;
        }
        & div {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .van-type {
            width: fit-content;
          }
          .van-name {
            font-size: 1.5rem;
            font-weight: 500;
          }
          .van-price {
            font-size: 1.25rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.van-details-holder{
  padding: 0 2rem;
  & h4{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    span{
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
  & h2{
    font-size: 2rem;
    span{
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  & img{
    border-radius: 10px;
  }
}


footer {
  background: #252525;
  width: 100%;
  height: 75px;
  display: grid;
  place-items: center;
  color: white;
  font-size: 14px;
  margin-top: auto;
}
